* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #eff0f3;
    color: #0d0d0d;
}

#container{
    min-height: 100%;
    position: relative;
}

#main{
    padding-bottom: 40px;
}

#footer {
    position: absolute;
    height: 40px;
    width: 100%;
}

.myClass {
    padding: 20px;
    border-style: solid;
    border-radius: 25px;
    border-color: #d9376e;
    border-width: 1px;
}

.mytable {
    width: 100%;
}

th {
    padding: 10px;
}

img {
    display: inline-block;
    border:solid;
    border-width: 4px;
    border-color: #d9376e;
    border-radius: 8px;
    width: 350px;
    height: 250px;
}

p {
    color: #2a2a2a;
}

button {
    background-color: #ff8e3c;        
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
}

input[type=text], input[type=password] {
    border: none;
    border-bottom: 2px solid #d9376e;
}