body {
    text-align: center;
    background-color: rgb(233, 213, 205);
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    width: 100%;
  }

div {
    text-align: left;
    padding: 20px;
}

.myClass {
    border-style: solid;
    border-radius: 25px;
    border-color: lightsalmon;
    border-width: 1px;
}

button {
    background-color: DarkSalmon;
    border-radius: 8px;
    padding: 4px;
    color: white;
    text-align: center;
  }