{% extends 'base.html' %}
{% block title %}MedAlert - Login{% endblock %}

{% block body %}
<form action="/contactus"  method="POST">
    <h2>Contact Us</h2>
    <br>Find an issue? Have a question? Have a suggestion? 
        Send us a message and we’ll be sure to get back to you as fast as possible.
    <br><input type="text" name="name" value="{{ user.fname }} {{ user.lname }}" placeholder="Your name" required>
    <br><input type="text" name="email" value="{{ user.email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email" required>
    <br><input type="text" name="subject" placeholder="Subject" required></p>
    <br><textarea name="message" rows="4" cols="50" placeholder="Message" required></textarea>
    <br><br>
    <button name="submit" type="submit" value="Send">SEND</button>
    <br><br>
    Thanks for stopping by the contact page! Feel free to reach out or ask any questions.
</form>

{% endblock %}