{% extends 'base.html' %}
{% block title %}MedAlert - Create a new account{% endblock %}

{% block body %}
    <form action="/update_dd" method="POST">
    {% if device or drug %}
    <h3>Your drugs or medical devices</h3>
    <br>
    <table>
        {% for item in device %}
        <tr><td><input type="radio" id="update" name="dev{{ item.id }}" value="update"> Update </td>
            <td><input type="radio" id="delete" name="dev{{ item.id }}" value="delete"> Delete </td>
            <td><input type="text" name="devname" value="{{ item.device_name }}"></td><td><input type="text" name="devmname" value="{{ item.manufacturer }}" placeholder="Manufacturer Name"></td></tr>
        {% endfor %}
        {% for item in drug %}
        <tr><td><input type="radio" id="update" name="dru{{ item.id }}" value="update"> Update </td>
            <td><input type="radio" id="delete" name="dru{{ item.id }}" value="delete"> Delete </td>
            <td><input type="text" name="druname" value="{{ item.drug_name }}"></td><td><input type="text" name="drumname" value="{{ item.manufacturer }}" placeholder="Manufacturer Name"></td></tr>
        {% endfor %}
    </table>
    <br><br>
    {% endif %}
    Add:
    <table>
        <tr><td><input type="radio" id="device" name="qtype" value="device"> Device </td>
        <td><input type="radio" id="drug" name="qtype" value="drug"> Drug </td>
        <td><input type="text" name="name" placeholder="Name"></td>
        <td><input type="text" name="mname" placeholder="Manufacturer Name"></td></tr>
    </table>
    <br><br><br>
    <p><button name="submit" type="submit" value="Update">UPDATE</button></p>
    </form>
{% endblock %}