{% extends 'base.html' %}
{% block title %}MedAlert - Home{% endblock %}

{% block body %}
  Welcome!!! MedAlert! is a secure web based app that allows a user to search for regulatory warnings issued for pharmaceuticals 
  and/or medical devices. The app will use the openFDA API (Food and Drug Administration) as the data source on FDA actions. 
<div class="row">
  {% for item in news_articles %}
  <div class="col-4 text-center">
    <figure>
    <a href="{{ item.url }}"><img src="{{ item.urlToImage }}" alt="{{ item.description }}"></a>
    <figcaption>{{ item.title }}</figcaption>
  </figure>
  </div>
  {% endfor %}
</div>
<div class="row">
  <div class="col-6 text-center"><canvas id="drug-chart"></canvas></div>
  <div class="col-6 text-center"><canvas id="dev-chart"></canvas></div>
</div>
<script>
    const drugChart = new Chart(
      $('#drug-chart'),
      {
        type: 'bar',
        options: {
          title: {
            display: true,
            text: 'Drug Recall Enforcement Totals for the last 10 years'
          },
          legend: {
            display: false,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        }
        },
        data: {
          labels: [
          {% for item in drug_recall_data %}
            '{{ item.year }}',
          {% endfor %}
          ],
          datasets: [
            {data: [
              {% for item in drug_recall_data %}
                '{{ item.total }}',  
              {% endfor %}
            ]}
          ]
        }
      }
    );
  </script>

  <script>
    const devChart = new Chart(
      $('#dev-chart'),
      {
        type: 'bar',
        options: {
        title: {
            display: true,
            text: 'Device Recall Enforcement Totals for the last 10 years'
        },
        legend: {
            display: false,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        }
        },
        data: {
          labels: [
          {% for item in device_recall_data %}
            '{{ item.year }}',
          {% endfor %}
          ],
          datasets: [
            {data: [
              {% for item in device_recall_data %}
                '{{ item.total }}',  
              {% endfor %}
            ]}
          ]
        }
      }
    );
  </script>
{% endblock %}


