{% extends 'base.html' %}
{% block title %}MedAlert - Login{% endblock %}

{% block body %}
    <br><br><br>
    <div class="myClass">
        <p>Sign In</p>
        <form action="/login" method="POST">
        <table>
        <tr><td>Email: </td><td><input type="text" name="email" size="50" required></td></tr>
        <tr><td>Password:  </td><td><input type="password" name="password" size="20" required></td></tr>
        </table>
        <br><br><br>
        <p><button name="submit" type="submit" value="Login">Login</button></p>
        </form>
        <p>Not registered? <a href="/add-user">Create an account</a></p>
    </div>

{% endblock %}