{% extends 'base.html' %}
{% block title %}MedAlert - Login{% endblock %}

{% block body %}
    <br><br><br>
    <div class="myClass">
        <i class="fas fa-file-prescription"></i>
        Welcome
        <p>MedAlert! is a secure web based app that allows a user to 
        search for regulatory warnings issued for pharmaceuticals 
        and/or medical devices. The app will use the openFDA API 
        (Food and Drug Administration) as the data source on FDA actions. </p>
    </div>
    <div class="myClass">
        <p>Sign In</p>
        <form action="/login" method="POST">
        <table>
        <tr><td>Email: </td><td><input type="text" name="email" size="50" required></td></tr>
        <tr><td>Password:  </td><td><input type="password" name="password" size="20" required></td></tr>
        </table>
        <br><br><br>
        <p><button name="submit" type="submit" value="Login">Login</button></p>
        </form>
        <p>Not registered? <a href="/add-user">Create an account</a></p>
    </div>

{% endblock %}