{% extends 'base.html' %}
{% block title %}MedAlert - Edit profile{% endblock %}

{% block body %}

<form action="/update-profile" method="POST">
    <h2>Update your profile</h2>
    <br><input type="text" name="fname" value="{{ user.fname }}" required>
    <br><input type="text" name="lname" value="{{ user.lname }}" required>
    <br><input type="text" name="email" value="{{ user.email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
    <br><input type="password" name="password" value="{{ pwd }}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
        required>
    <br><input type="text" name="tel_num" value="{{ user.tel_num }}" placeholder="Telephone Number" 
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="999-999-9999">
    <br><input type="text" name="caregiver_email" value="{{ user.caregiver_email }}" placeholder="Caregiver Email">
    <br><br>
    <button name="submit" type="submit" value="Update">UPDATE</button>
</form>

{% endblock %}