{% extends 'base.html' %}
{% block title %}MedAlert - Search{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6"></div>
    <div class="col-5"><h3>Search Results:</h3></div>
    <div class="col-1"></div>
</div>
<div class="row">
<div class="col-6">
<form>
    <p id="useremail" hidden>"{{user.email}}"</p>
    <br><h2>Search</h2>
    Recalls for your medications and medical devices
    <select name="ddlist" id="ddlist">
        <option value="all">All</option>
        {% for item in device %}
        <option value="{{item.id}}">Device-{{ item.device_name }}-{{ item.manufacturer }}</option>
        {% endfor %}
        {% for item in drug %}
        <option value="{{item.id}}">Drug-{{ item.drug_name }}-{{ item.manufacturer }}</option>
        {% endfor %}
    </select>
    <br><br><br>OR Enter the name of the drug/device you want to search for :
    <table>
        <tr><td><input type="radio" id="device" name="qtype" value="device"> Device</td>
        <td><input type="radio" id="drug" name="qtype" value="drug"> Drug </td>
        <td><input type="text" id="dname" placeholder="Name"></td></tr>
    </table>
    <br><br>
    <button name="submit" id="search" type="submit" value="Search">SEARCH</button>
</form>
</div>
<div class="col-5 text-left divresults" id="results"></div>
<div class="col-1"></div>
</div>
<p id="emaillink" hidden><b>Would you like to email the results? <a href="#" id="emailthis"><i class="fas fa-at"></i> Click Here </a>
    Or SMS? <a href="#" id="smsthis"><i class="far fa-comment"></i> Click Here </a></b></p>
<script src="/static/js/api_query_display.js"></script>

    
{% endblock %}