{% extends 'base.html' %}
{% block title %}MedAlert - Home{% endblock %}

{% block body %}

    <div class="myClass">
    <br>Hi {{ user.fname }} !
    <br>Search for regulatory warnings issued for pharmaceuticals and/or medical devices.
    <label for="ddlist">Choose from the list:</label>

    <select name="ddlist" id="ddlist">
        {% for item in device %}
        <option value="{{item.id}}">Device - {{ item.device_name }}, {{ item.manufacturer }}</option>
        {% endfor %}
        {% for item in drug %}
        <option value="{{item.id}}">Drug - {{ item.drug_name }}, {{ item.manufacturer }}</option>
        {% endfor %}
    </select>
        <button name="submit" id="search" type="submit" value="Search">Search</button>
    </div>
    <div id="results" class="myClass">

    </div>
    Would you like to email these results?<a href="">Click here</a>
    <script src="/static/js/api_query_display.js"></script>
{% endblock %}