{% extends 'base.html' %}
{% block title %}MedAlert - Home{% endblock %}

{% block body %}
<form>
    <p id="useremail" hidden>"{{user.email}}"</p>
    <br>Search for regulatory warnings issued for pharmaceuticals and/or medical devices. Choose from the list:
    <select name="ddlist" id="ddlist">
        <option value="all">All</option>
        {% for item in device %}
        <option value="{{item.id}}">Device~{{ item.device_name }}~{{ item.manufacturer }}</option>
        {% endfor %}
        {% for item in drug %}
        <option value="{{item.id}}">Drug~{{ item.drug_name }}~{{ item.manufacturer }}</option>
        {% endfor %}
    </select>
    <br>OR Enter the name of the drug/device you want to search for :
    <table>
        <tr><td><input type="radio" id="device" name="qtype" value="device"> Device</td>
        <td><input type="radio" id="drug" name="qtype" value="drug"> Drug </td>
        <td><input type="text" id="dname" placeholder="Name"></td></tr>
    </table>
    <br><br>
    <button name="submit" id="search" type="submit" value="Search">SEARCH</button>
</form>
<div class="row">
    <div class="col-2"></div>
    <div id="results" class="col-8 text-left"></div>
    <div class="col-2"></div>
</div>
<p id="emaillink" hidden>Would you like to email these results? <a href="#" id="emailthis">Click Here</a></p>

<script src="/static/js/api_query_display.js"></script>
    
{% endblock %}